<div class="continentsList">
  <app-table-continent *ngIf="emptyRow(continentsFiltered.africa)" (countryFavorite)="getFavorite($event)" [country]="continentsFiltered.africa" [nameCountry]="'Africa'" ></app-table-continent>
  <app-table-continent *ngIf="emptyRow(continentsFiltered.americas)" (countryFavorite)="getFavorite($event)" [country]="continentsFiltered.americas" [nameCountry]="'America'" ></app-table-continent>
  <app-table-continent *ngIf="emptyRow(continentsFiltered.asia)" (countryFavorite)="getFavorite($event)" [country]="continentsFiltered.asia" [nameCountry]="'Asia'" ></app-table-continent>
  <app-table-continent *ngIf="emptyRow(continentsFiltered.europe)" (countryFavorite)="getFavorite($event)" [country]="continentsFiltered.europe" [nameCountry]="'Europa'" ></app-table-continent>
  <app-table-continent *ngIf="emptyRow(continentsFiltered.oceania)" (countryFavorite)="getFavorite($event)" [country]="continentsFiltered.oceania" [nameCountry]="'Oceania'" ></app-table-continent>
</div>
<div *ngIf="isEmpty" class="noResults">
  <p>No results found</p>
</div>
