@import "../../../../scss/variables";
.continentsList {
  display: inline-flex;
  margin-top: 2%;
}

.noResults {
  text-align: center !important;
  font-size: 30px;
  font-weight: 500;
  font-family: $font-text;
  color: $white-basic;
  line-height: 35px;
  padding: 8%;
}
