@import "../../../../scss/variables";

div.search-field {
  margin-top: 7%;
  display: inline-flex;
  input {
    border-radius: 5px 0px 0px 5px;
    padding: 12px 120px 12px 20px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: $box-shadow;
    font-family: $font-text;
    &:focus {
      outline: none;
      border: 1px solid $blue-basic;
      box-shadow: 0 0 10px $blue-basic;
    }
    &:hover {
      border-color: $blue-basic;
    }
  }

  select {
    border-radius: 0px 0px 0px 0px;
    padding: 11px 7px 11px 12px;
    cursor: pointer;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: $box-shadow;
    font-family: $font-text;
    &:focus {
      outline: none;
      border: 1px solid $blue-basic;
      box-shadow: 0 0 10px $blue-basic;
    }
    &:hover {
      border-color: $blue-basic;
    }
    &:-ms-expand {
      display: none;
    }
    & option {
      background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    }
  }

  .icon-search {
    display: flex;
    align-items: center;
    background: $blue-basic;
    width: 50px;
    border-radius: 0 11px 11px 0;
    box-shadow: $box-shadow;
    img {
      background: $blue-basic;
      height: 20px;
      margin: 0 auto;
    }
  }
}
